.selectedRecipe-item{
    color: black;
    
}

.selectedRecipe-item__table{
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    border: 1px solid black;
}

tr{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    padding: 5px 50px 5px 5px ;
}

.selectedRecipe-item__input{
    width: 150px;
}